apiVersion: v1
kind: Secret
metadata:
  name: cmdemo-secrets
type: Opaque
data:
  CONTAINER_NAME : XXXBASE64XXX
  ACCOUNT_KEY : XXXBASE64XXX
  ACCOUNT_NAME : XXXBASE64XXX
  SP_NAME : XXXBASE64XXX
  SP_PASSWORD : XXXBASE64XXX
  SP_TENANT : XXXBASE64XXX
